<div style="padding: 30px;" fxLayout="row" fxLayoutAlign="center center">

  <div>
    <img src="assets/images/rick-travels.png">
  </div>

  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="travels" *ngIf="dataSource.data.length > 0">
      <h2>Log de viagens Rick & Morty</h2>

      <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="origem">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Origem</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.origem }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="destino">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Destino</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.destino }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="dataViagem">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Data Viagem</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.dataViagem | date }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>

    <mat-card *ngIf="dataSource.data.length === 0">
      <h2>Nenhuma viagem até o momento! :(</h2>
    </mat-card>

    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-paginator
        [pageSize]="6"
        [hidePageSize]="true">
      </mat-paginator>

      <a [routerLink]="['/details', id]" mat-raised-button color="accent" style="float: right; margin-top: 20px;">VOLTAR</a>
    </div>

  </div>

</div>
