mat-header-cell {
  color: white;
  font-size: 15px;
  background-color: #bbbbbb;
}

mat-paginator {
  font-size: 14px;
  font-weight: bold;
}

table {
  width: 100%;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 8px 8px 8px 8px;
}
