<div class="details" fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ model.dimensao }}</mat-card-title>
      <mat-card-subtitle>Dimensão</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="model.imagem" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{ model.descricao }}
      </p>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center center">
      <a routerLink="/travel-logs" mat-raised-button color="primary">HISTÓRICO DE VIAGEMS</a>
      <button mat-raised-button color="warn" (click)="onNewEntry()">ADICIONAR VIAGEM</button>
    </mat-card-actions>
  </mat-card>
</div>
