<section>
  <h1>A ETERNA QUESTÃO...</h1>
  <form fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px" #f="ngForm">
    <mat-form-field>
      <mat-label>de onde viemos?</mat-label>
      <mat-select aria-placeholder="Selecione a dimensão" ngModel name="idOrigem" required>
        <mat-option *ngFor="let dimensao of dimensoes" [value]="dimensao.id">{{ dimensao.nome }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>para onde vamos?</mat-label>
      <mat-select aria-placeholder="Selecione a dimensão" ngModel name="idDestino" required>
        <mat-option *ngFor="let dimensao of dimensoes" [value]="dimensao.id">{{ dimensao.nome }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-dialog-actions>
      <button mat-raised-button color="warn" [mat-dialog-close]="'canceled'">Melhor não</button>
      <button mat-raised-button color="primary" [mat-dialog-close]="f.value" [disabled]="f.invalid">Let's go Morty!</button>
    </mat-dialog-actions>
  </form>
</section>
